.resultados-busqueda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        color: #572EE5;
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        font-weight: 700;
    }

    button {
        margin-top: 80px;
        width: 127px;
        height: 50px;
        border: 1px solid #572EE5;
        border-radius: 25px;
        color: #572EE5;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        font-weight: 700;
    }

    button:hover {
        background-color: #572EE5;
        color: white;
    }
}

#resultados-busqueda {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(3, 200px);
    gap: 30px;
}

.gif-busqueda {
    height: 200px;
    width: 260px;

    .fondo-tarjeta {
        bottom: 205px;

    }

    .contenedor-botones {
        width: 40%;
        left: 55%;
    }

    .info-tarjeta {
        width: 245px;
        top: 45%;
    }
}